# Linear Regression use case

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
wine = pd.read_csv('wine.csv')

In [3]:
wine.head()

   Year   Price  WinterRain     AGST  HarvestRain  Age  FrancePop
0  1952  7.4950         600  17.1167          160   31  43183.569
1  1953  8.0393         690  16.7333           80   30  43495.030
2  1955  7.6858         502  17.1500          130   28  44217.857
3  1957  6.9845         420  16.1333          110   26  45152.252
4  1958  6.7772         582  16.4167          187   25  45653.805

In [4]:
wine.shape

(25, 7)

In [5]:
wine.columns

Index(['Year', 'Price', 'WinterRain', 'AGST', 'HarvestRain', 'Age',
       'FrancePop'],
      dtype='object')

In [6]:
#X = wine[['Age']]

In [7]:
X = wine[[ 'WinterRain', 'AGST', 'HarvestRain', 'Age',
       'FrancePop']]

In [8]:
#X = wine[[ 'WinterRain', 'AGST', 'FrancePop']]

In [9]:
y = wine[['Price']]

In [10]:
#pip install sklearn

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state = 100 )

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [12]:
X_test

    WinterRain     AGST  HarvestRain  Age  FrancePop
9          608  15.7167          155   20  48798.990
22         418  17.6500          247    7  54159.049
13         714  16.2333          118   16  50650.406
11         602  15.3667          267   18  49801.821
5          485  17.4833          187   24  46128.638

In [13]:
X_train

    WinterRain     AGST  HarvestRain  Age  FrancePop
19         376  17.0667          123   10  53332.805
23         821  15.5833           87    6  54378.362
21         572  16.9500          171    8  53955.042
6          763  16.4167          290   23  46583.995
12         819  16.5333           86   17  50254.966
4          582  16.4167          187   25  45653.805
24         763  15.8167           51    5  54602.193
0          600  17.1167          160   31  43183.569
1          690  16.7333           80   30  43495.030
20         574  16.3000          184    9  53689.610
14         610  16.2000          292   15  51034.413
17         551  16.7667          112   12  52431.647
18         536  14.9833          158   11  52894.183
2          502  17.1500          130   28  44217.857
10         402  17.2667           96   19  49356.943
16         622  16.6667           89   13  51918.389
15         575  16.5500          244   14  51470.276
7          830  17.3333           38   22  47128.005
3          420  16.1333          110   26  45152.252
8          697  16.3000           52   21  48088.673

In [14]:
y_train

     Price
19  6.6367
23  6.2587
21  7.2920
6   6.5188
12  7.7443
4   6.7772
24  7.1860
0   7.4950
1   8.0393
20  6.2941
14  6.2435
17  7.1934
18  6.2049
2   7.6858
10  7.3094
16  7.5883
15  6.3459
7   8.4937
3   6.9845
8   7.3880

In [15]:
print(len(X_train))
print(len(X_test))

20
5

In [16]:
y_test

     Price
9   6.7127
22  7.1211
13  6.8398
11  6.2518
5   8.0757

In [17]:
import statsmodels.api as sm
#X_train = sm.add_constant(X_train)
first_linear_model = sm.OLS(y_train,X_train).fit()

In [18]:
# print the coefficients
first_linear_model.params

WinterRain     0.001265
AGST           0.538851
HarvestRain   -0.004890
Age            0.005132
FrancePop     -0.000041
dtype: float64

In [19]:
pred = first_linear_model.predict(X_test)

In [20]:
pred

9     6.605557
22    6.673178
13    7.103409
11    5.810805
5     7.374134
dtype: float64

In [21]:
import statsmodels.api as sm
#X_train_sm = X_train
#Unlike SKLearn, statsmodels don't automatically fit a constant, 
#so you need to use the method sm.add_constant(X) in order to add a constant. 
#X_train_sm = sm.add_constant(X_train)

#X_train = sm.add_constant(X_train)

# create a fitted model in one line
lm_1 = sm.OLS(y_train,X_train).fit()

# print the coefficients
lm_1.params

WinterRain     0.001265
AGST           0.538851
HarvestRain   -0.004890
Age            0.005132
FrancePop     -0.000041
dtype: float64

In [22]:
print(lm_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                     2863.
Date:                Sat, 05 Oct 2019   Prob (F-statistic):           8.66e-22
Time:                        17:05:20   Log-Likelihood:                 1.0013
No. Observations:                  20   AIC:                             7.997
Df Residuals:                      15   BIC:                             12.98
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
WinterRain      0.0013      0.000      2.776      0.014       0.000       0.002
AGST            0.5389      0.121      4.459      0.000       0.281       0.796
HarvestRain    -0.0049      0.001     -5.703      0.000      -0.007      -0.003
Age             0.0051      0.021      0.241      0.813      -0.040       0.050
FrancePop   -4.052e-05   3.52e-05     -1.151      0.268      -0.000    3.45e-05
==============================================================================
Omnibus:                        1.525   Durbin-Watson:                   2.395
Prob(Omnibus):                  0.467   Jarque-Bera (JB):                0.651
Skew:                          -0.436   Prob(JB):                        0.722
Kurtosis:                       3.145   Cond. No.                     1.03e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.03e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [23]:
pred = lm_1.predict(X_test)

In [24]:
pred

9     6.605557
22    6.673178
13    7.103409
11    5.810805
5     7.374134
dtype: float64

### std err
represents the average distance that the observed values fall from the regression line. 
Conveniently, it tells you how wrong the regression model is on average using the units
of the response variable. Smaller values are better because it indicates that the observations are closer to the fitted line

In [25]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [26]:
print(lm.intercept_)
print(lm.coef_)

[-7.57506402]
[[ 1.39978026e-03  5.35221087e-01 -4.94386390e-03  6.76070446e-02
   9.00499781e-05]]

In [27]:
y_pred = lm.predict(X_test)
print(y_pred)

[[6.6681016 ]
 [6.58583242]
 [7.17218828]
 [5.8737536 ]
 [7.3132096 ]]

In [28]:
lm = LinearRegression()

In [29]:
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [30]:
print(lm.intercept_)

[-7.57506402]

In [31]:
print(lm.coef_)

[[ 1.39978026e-03  5.35221087e-01 -4.94386390e-03  6.76070446e-02
   9.00499781e-05]]

In [32]:
X_test.columns

Index(['WinterRain', 'AGST', 'HarvestRain', 'Age', 'FrancePop'], dtype='object')

In [33]:
#col_nm = ['Constant','WinterRain', 'AGST', 'FrancePop']

In [34]:
lm.coef_

array([[ 1.39978026e-03,  5.35221087e-01, -4.94386390e-03,
         6.76070446e-02,  9.00499781e-05]])

In [38]:
# Making predictions using the model
y_pred = lm.predict(X_test)

In [39]:
y_pred

array([[6.6681016 ],
       [6.58583242],
       [7.17218828],
       [5.8737536 ],
       [7.3132096 ]])

In [40]:
y_test

     Price
9   6.7127
22  7.1211
13  6.8398
11  6.2518
5   8.0757

### Assignment

In [41]:
pd.DataFrame(y_pred)

          0
0  6.668102
1  6.585832
2  7.172188
3  5.873754
4  7.313210

### Assignment

In [42]:
df = pd.concat((pd.DataFrame(y_pred), pd.DataFrame(y_test)),axis =1)

In [ ]:
df

In [44]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)

In [45]:
from math import sqrt
rmse = sqrt(mse)

In [46]:
print('Mean_Squared_Error :' ,mse)
print('Root_Mean_Squared_Error :' ,rmse)
print('r_square_value :',r_squared)

Mean_Squared_Error : 0.22465861294785733
Root_Mean_Squared_Error : 0.4739816588728485
r_square_value : 0.389449611130383

In [47]:
df.describe()

              0     Price
count  5.000000  5.000000
mean   6.722617  7.000220
std    0.568587  0.678197
min    5.873754  6.251800
25%    6.585832  6.712700
50%    6.668102  6.839800
75%    7.172188  7.121100
max    7.313210  8.075700